*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

#cursor{
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    z-index: 999;
    pointer-events: none;
    
    
}

#main{
    background-color: #111;
    height: 100vh;
    width: 100vw;

}

#image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img{
    height: 400px;
    width: 600px;
    object-fit: contain;
    border-radius: 10%;
    
}

    
