@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,body{
    height:100%;
    width:100%; 
}
body{
    overflow-x: hidden;
}

#main{
    background-image: url(https://images.pexels.com/photos/531972/pexels-photo-531972.jpeg);
    background-size:cover;
    background-position: center;
    height: 100%;
    width: 100%;

}

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #fff;
    
   
}

#nav i{
    
    border-radius: 50%;
    background-color: transparent;
    padding: 5px;
    border: 1px solid beige;
    box-shadow: 1px 1px 4px yellow;
    
}

#nav h2{
     font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#full{
    height: 100%;
    width:35%;
    background-color: rgba(255, 255, 255, 0.384);
    position: absolute;
    top: 0;
    right: -35%;
    backdrop-filter: blur(8px);
    padding: 150px 80px;
}

#full ul{
    list-style: none;
    
    
    
}

#full i{
    position:absolute;
    top:5%;
    right:10%;
    background-color: beige;
    border-radius:50%;
    padding: 5px;
    
}

#full li{
    font-size: 2.3rem;
    font-weight: 500;
    color: #111;
    margin: 20px;

    
    
}

#full li:hover{
    cursor: pointer;
} 