*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:gilroy;
    color: #fff;
}

h1{
    visibility: hidden;
}

html,body{
    height: 100%;
    width:100%;

}
body{
    background-color: #111;
}


#box1{
    background-color:crimson;
    width:300px;
    height:300px;

}

#box2{
    width:300px;
    height:300px;
    background-color:blueviolet;
    border-radius: 10%;
}

